
<!-- GET /answer?query=hello -->


<!--
<form action="coachings/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form> -->


<div class="login">
  <h1>Ask me a question</h1>
    <form action="coachings/answer" method="post">
      <input type="text" id="question" name="query" placeholder="Your question here" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Go on! </button>
    </form>
</div>
